#
# Apache/PHP/Frocole settings
#

#
# Disable web access to *.inc, *.sql and *.png files:
#
#<FilesMatch  "\.(inc|sql|png)$>
#	order allow,deny
#	deny from all
#</FilesMatch >

#
# OR disable web access to the config.inc file:
#
<Files config.inc>
  order allow,deny
  deny from all
</Files>

#
# veg OPTIONAL only allow POST access:
#
<LimitExcept POST>
  Order Allow,Deny
  Deny from all
</LimitExcept>

#
# veg OPTIONAL only allow GET access to retrieve info text:
#
<Files GetFrocoleInfo.php>
  <LimitExcept GET>
    Order Allow,Deny
    Deny from all
  </LimitExcept>
</Files>

