#
# Apache/PHP/Frocole settings
#

#
# Disable web access to *.inc, *.sql and *.png files:
#
#<FilesMatch  "\.(inc|sql|png)$>
#	order allow,deny
#	deny from all
#</FilesMatch >

#
# OR Disable web access to the config.inc file:
#
<Files "config.inc">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny all
  </IfModule>
</Files>

#
# veg OPTIONAL only allow POST access:
#
<LimitExcept POST>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny all
  </IfModule>
</LimitExcept>

# OPTIONAL only allow GET access to retrieve info text:
#
<Files GetFrocoleInfo.php>
  <LimitExcept GET>
    <IfModule mod_authz_core.c>
      Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
      Order allow,deny
      Deny all
    </IfModule>
  </LimitExcept>
</Files>

#
# Disable web access to the .git folder:
#
#<Directory "/frocole/.git">
#  Deny all
#</Directory>
